<footer id="footer-container">

  <a id="footer-secret">
    Luis Wilhelmi
  </a>

    <a id="footer-secret">
    @luis.wilhelmi
  </a>

  <a id="footer-text">
    luiswilhelmi.inc
  </a>

    <a id="footer-secret">
    @luis.wilhelmi
  </a>

    <a id="footer-secret">
    Luis Wilhelmi
  </a>
  
</footer>