<nav id="nav-container">

  <a class="nav-text" id="navbar-item2" href="/movie-search">
    Search
  </a>

  <a class="nav-text" id="navbar-item3" href="/movie-add">
    Add
  </a>

  <a class="nav-text" id="navbar-item3" href="/">
    Login
  </a>

  <a href="/logout">
    Logout
  </a>

</nav>