<body>

  <img src="images/framedQuentin.png" alt="" class="add-img">

  <div id="add-container">

    <div class="add-title">
      Add a movie of your choice
    </div>

    <form action="/movie-add" method="POST">

      <div class="add-fields">
        <input placeholder="Enter title..." name="title" id="add-field" type="text">
      </div>

      <div class="add-fields">
        <input placeholder="Enter year..." name="year" id="add-field">
      </div>

      <div class="add-fields">
        <input placeholder="Enter director..." name="director" id="add-field">
      </div>

      <div class="add-fields">
        <input placeholder="Enter duration..." name="duration" id="add-field">
      </div>

      <div class="add-fields">
        <input placeholder="Enter genre..." name="genre" id="add-field">
      </div>

      <div class="add-fields">
        <input placeholder="Enter rating..." name="rate" id="add-field">
      </div>

      <button id="add-button" type="submit">Add</button>

    </form>

  </div> 

</body>